*,*::after, *::before{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --light-blue: #8EC5FC;
    --light-purple: #E0C3FC;
    --dark-black: #000000;
    --light-black: #414141;
}
body{
    width: 100%;
    min-height: 100vh;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light-blue);
background-image: linear-gradient(62deg,  var(--light-blue) 0%, var(--light-purple) 100%);

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:white;
}
.header__section{
    width: 100%;
    height: 7rem;
    position: relative;
    background-color: darkslateblue;
}
.title{
    text-align: center;
    padding-top: 1.5rem;
    font-size: 3rem;
}
.mode{
    position: absolute;
    top: 3rem;
    right: 5rem;
    width: 4rem;
    height: 2rem;
    border-radius: 1.5rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    padding: 0 0.1rem;
    background-color: white;
    justify-content: flex-start;
    transition: 0.5s ease-in-out;
}
.header__section .toggle{
    justify-content: flex-end;
    background-color: transparent;
}

.mode__switch{
    width: 1.5rem;
    height: 1.5rem;
    background-color: darkslateblue;
    border-radius: 50%;
    cursor: pointer;
}
.header__section .toggle .mode__switch{
    background-color: white;
}
.footer__section{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
}
.footer__section p{
    text-align: center;
}
.social__links{
    display: flex;
    gap: 6rem;
}
.social__links a{
    padding: 0.25rem 0.5rem;
    transition: 0.5s ease-in-out;

}
.social__links li a:hover{
    background-color: white;
    color: darkslateblue;
}
.main__section{
    min-height: 60vh;
    width: 100%;
    padding: 4rem;
}
.dark{
    background-color: var(--dark-black);
    background-image: linear-gradient(90deg, var(--dark-black), var(--light-black));
}
.tags_container{
    width: 100%;
}
.tag__title{
    color: black;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.tags__box{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.tag{
    border: none;
    border: 2px solid darkslateblue;
    border-radius: 0.25rem;
    padding: 0.2rem 0.25rem;
    background-color: var(--light-purple);
    color: black
}